<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
</head>

<body>
  {{include '../_includes/header.html'}}
  <section class="container">
  <div class="row">
    <div class="col-md-5">
      <form id="myForm" method="post" action="/topic/store">
        <div class="form-group">
          <label for="exampleInputEmail1">选择板块</label>
          <select class="form-control" name="categoryId">
            {{each topics}}
            <option value="{{ $value.id }}">{{ $value.name }}</option>
            {{/each}}
          </select>
        </div>
        <div class="form-group">
          <label for="title">标题</label>
          <input type="text" name="title" class="form-control" id="title" placeholder="标题">
        </div>
        <div class="form-group">
          <label for="content">内容</label>
          <textarea class="form-control" rows="3" id="content" name="content"></textarea>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>
</section>
  {{include '../_includes/footer.html'}}
  <script src="/node_modules/jquery/dist/jquery.js"></script>
  <script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>
  <script src="/node_modules/jquery-form/dist/jquery.form.min.js"></script>
</body>
</html>
<script>
  $(function(){
    var $myForm =$('#myForm');
    $myForm.on('submit', function(e){
      // 阻止默认行为
      e.preventDefault();

      $myForm.ajaxSubmit(function(data){
        // console.log(data); 
      });
    });
  })
</script>
