<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/public/css/markdown-github.css">
<style>
  .panel .panel-heading .action i {
    margin-right: 10px;
  }
</style>
</head>

<body>
  {{include '../_includes/header.html'}}
  <section class="container">
  <div class="row">
    <div class="col-md-9">
      {{ if topic }}
      
      <article class="markdown-body">
      <h1 id="_1"><a name="user-content-_1" href="#_1" class="headeranchor-link" aria-hidden="true"><span class="headeranchor"></span></a>{{ topic.title }}</h1>
      <p>发布于 2 分钟之前 作者：thinker 2 次浏览 来自于</p>
      {{ if topic.userId === user.id }}
      <p>
        <a href="/topic/{{topic.id}}/edit"><span class="glyphicon glyphicon-edit"></span></a> 
        <a id="delete" href="/topic/{{topic.id}}/delete"><span class="glyphicon glyphicon-trash"></span></a>
      </p>
      {{ /if }}
      <div id="line"></div>
      <div>{{@ topic.content }}</div>

      </article>

      {{ else }}
      
      <div class="alert alert-danger" role="alert">此话题不存在</div>
      
      {{ /if }}
      
      <div id="comments">

      </div>
      <div id="pagination">
      </div>
      <hr>
      <form id="myForm" method="post" action="/comment/{{ topic.id }}/comment/store">
        <div class="form-group">
          <label for="content">添加回复</label>
          <textarea class="form-control" name="content" id="content" cols="10" rows="10"></textarea>
        </div>
        <button type="submit" class="btn btn-success">回复</button>
      </form>
    </div>
  </div>
</section>
  {{include '../_includes/footer.html'}}
  <script src="/node_modules/jquery/dist/jquery.js"></script>
  <script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>
  <script src="/node_modules/jquery-form/dist/jquery.form.min.js"></script>
  <script src="/node_modules/twbs-pagination/jquery.twbsPagination.min.js"></script>
  <!-- 引入客户端模板引擎 -->
  <script src="/node_modules/art-template/lib/template-web.js"></script>
  <!-- 定义所要遍历的模板 -->
  <script type="text/template" id="tpl">
    <% comments.forEach(function(item, index){ %>
    <div class="panel panel-default">
        <div class="panel-heading">
          <span>lipengzhou</span> commented 
          <span>24 minutes ago</span>
          <span class="action">
            <a href=""><i class="glyphicon glyphicon-thumbs-up pull-right"></i></a>
            <a href=""><i class="glyphicon glyphicon-remove-circle pull-right"></i></a>
            <a href=""><i class="glyphicon glyphicon-remove-circle pull-right"></i></a>
          </span>
        </div>
        <div class="panel-body">
          <%=item.content%>
        </div>
      </div>
    <% })%>
  </script>

</body>
</html>
<script>

  function renderComment(page=1){
    // var url = "/comment/{{ topic.id }}/comment"

    // 在这个url中会动态拼接页码字符串的
    var url = "/comment/{{ topic.id }}/comment?curPage="+page
    $.get(url, function(res){
      // console.log(res);
      var commentHtml = template('tpl', {
        comments:res.data
      });
      $('#comments').html(commentHtml);

      var totalPages = res.totalPages;
      $('#pagination').twbsPagination({
        totalPages: totalPages,
        visiblePages: 4,
        onPageClick: function (event, page) {
          // $('#page-content').text('Page ' + page);
          renderComment(page);
        }
      });
    })
  }

  // 首次显示时就调用一次，不然没数据
  renderComment();
  
  

  $(function(){
    // jquery.form提交
    $('#myForm').on('submit', function(e){
      e.preventDefault();
      $(this).ajaxSubmit({
        // 成功后调用(如果服务器通过协议头返回401错误,并不会调用此方法)
        success: function(res){
          // console.log(res)
          renderComment();
        },
        // 失败后调用(如果服务器通过协议头返回401错误,会调用此方法)
        error: function(res){
          // console.log(res);
          if(res && res.status === 401){
            window.alert('登陆状态已失效,请重新登陆');
          }
        }
      });
    });
    $('#delete').on('click', function(e){
      e.preventDefault();

      if(!window.confirm('You sure?')){
        return
      }

      var url = $(this).attr('href');
      $.post(url, function(res){
        // console.log(res);
        switch(res.code){
          case 0:
            window.location.href = '/';
            break;
          case 1:
            alert(res.message);
            break;
          case 2:
            alert(res.message);
            break;
          
        }
      });
    })
  })
</script>
